<app-header-component></app-header-component>
<div class="wrapper row2">
 <div id="container" class="clear">
    <app-slider-component></app-slider-component>
    <div id="homepage">
      <app-service-area-component></app-service-area-component>
      <app-latest-work-component></app-latest-work-component>
</div>
    <div id="content">
        <app-main-component></app-main-component>      
    </div>
<app-right-column></app-right-column>
</div>
</div>
<app-footer-component></app-footer-component> 
<router-outlet></router-outlet>
