<div class="wrapper row2">
    <div id="container" class="clear">
    <div id="homepage">
    <section id="latest">
    <article>
      <figure>
        <ul class="clear">
          <li class="one_third"><img src="../../assets/images/demo/290x180.gif" width="290" height="180" alt=""></li>
          <li class="one_third"><img src="../../assets/images/demo/290x180.gif" width="290" height="180" alt=""></li>
          <li class="one_third lastbox"><img src="../../assets/images/demo/290x180.gif" width="290" height="180" alt=""></li>
        </ul>
        <figcaption><a href="#">View All Our Recent Work Here &raquo;</a></figcaption>
      </figure>
    </article>
  </section>
<div>
</div>
</div>